@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>

<address>    
    Fortaleza - CE<br />    
</address>

<address>
    <strong><abbr title="Phone">WhatsApp:</abbr></strong>(85) 9.8505.9184<br />
    <strong>e-mail:</strong> <a href="mailto:youssfbr@gmail.com">youssfbr@gmail.com</a>
</address>
